* {
    margin: 0;
    padding: 0;
}

body {
    font: 14px "Century Gothic", Futura, sans-serif;
}

ol, ul {
    list-style: none;
}

a{
	text-decoration: none;
}

p{
	margin:0;
}

.clearfix:after {
	display: block;
	clear: both;
	content: "";
	visibility: hidden;
	height: 0
}

.clearfix {
	zoom: 1
}